body{
    background-color: #c7ebf7;
}
.TPrincipal{
    text-align: right;
    font-size: 30px; 
    font-family: Arial;
}



.Titulo1{
    font-size: 25px; 
    font-family: Arial;
}

h2:first-letter {
    font-size: 35px; 
      font-family: Arial;
  }

#TEspecial span{
    font-family: cursive;
    color: red;
}
.Texto1{
    text-align: justify;
    font-size: 15px; 
    font-family: Arial;
    text-indent: 30px;
}
#especial em{
    font-weight: normal;
    background-color: white;
    padding: 2px;
    color: green;
  }

.Texto4{
    text-align: center;
    font-size: 15px; 
    font-family: Arial;
}

